:root{
    --text-color: #444;
    --input-border-color: #bbb;
    --button-bg-color: #fff;
    --button-border-color: #bbb;
}   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:focus{
    outline: none;
}
html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-size: 20px;
    margin: 5px 0;
    color: var(--text-color);
}
input {
    font-size: 16px;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    border: 1px var(--input-border-color) solid;
    border-radius: 2px;
    text-transform: uppercase;
    margin: 10px 0;
}
p + input {
    margin-top: 0;
}
button {
    font-size: 16px;
    text-transform: capitalize;
    padding: 5px 10px;
    background: var(--button-bg-color);
    border: 1px var(--button-border-color) solid;
    color: var(--text-color);
    border-radius: 2px;
}
button.hot {
    background: #2D7BBB;
    color: #fff;
    border-color: #256ca7;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
.flex-colum{
    display: flex;
    flex-direction: column;
}
.center-text {
    text-align: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.textarea-wrapper {
    width: 500px;
    justify-content: center;
}
.pad-top{
    padding-top: 50px;
}
textarea{
    border: 1px var(--input-border-color) solid;
    width: 100%;
    padding: 5px;
    font-family: monospace;
    border-radius: 5px;
}
#Colums-inputs{
    height: 200px;
    overflow: auto;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
#Colums-inputs::-webkit-scrollbar{
    width: 5px;
    background: transparent;
}
#Colums-inputs::-webkit-scrollbar-thumb{
    background: var(--button-border-color);
    border-radius: 8px;
}   
input.colum {
    margin: 5px auto;
}
div.hot{
    background-color: #ddd;
}